    
body {
    font-family: 'Big-caslon', serif; 
    background-color: #f3f3f3;
        
}

#wrapper{
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff; 
    padding: 32px;
}
    
.header {
    top: 0%;
    height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:900px;
    margin:0px auto;
}
    
.content {
    max-width: 900px;
    margin: auto;
    background: white; 
    padding: auto;
}
   
.meny {
    max-width: 900px;
    padding: 10px 0 10px 0;
    text-align: left;
    line-height: 32px;
    background-color: #333;
}
ul.many {
        margin-top: 15px;
    }
    
.meny li {
        display: inline; 
        padding: 0 10px 0 10px; 
        font-size: 20px;
    }

.meny a {
    color: white;
    padding: 8px;
    text-decoration: none;
    
}

.meny a:hover:not(.active) {
    background-color: #111;
    border-radius: 5px;
}

.active {
    background-color: #dfb674;
    border-radius: 5px;
}
    
.clearfix{
    overflow: auto;
}

.img2{
    float: left;
}
.imgMikkel{
    border-radius: 5px;
}
.container-right{
    width: 60%;
    float: right;
}
.tittel{
    text-align: center;
    color: #333333;
    font-size: 2em;
    font-weight: 100;
    /*background-color: #333333; */
    border-bottom: solid 2px #dfb674;
}
.spanTittel{
    color: #333333;
}
#mikkeMatH4{
    text-align: center;
    font-weight: 100;
    border-bottom: solid 2px #333333;
}
#listeConatinerLeft{
    float: left;
    width: 250px;
    background-color: #333333;
    color: #ffffff;
    border-radius: 5px;
    margin-right: 35px;
}
#listeConatinerRight{
    float: left;
    width: 250px;
    background-color: #dbdcdd;
    border-radius: 5px;
}