body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
}

#wrapper{
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 32px;
}

.content {
    max-width: 900px;
    margin: auto;
    background: white;
    padding: auto;
}

.meny {
    max-width: 900px;
    padding: 10px 0 10px 0;
    text-align: left;
    line-height: 32px;
    background-color: #333;
}

.meny li {
    display: inline;
    padding: 0 10px 0 10px;
    font-size: 20px;
    letter-spacing: 2px;
}

.meny a {
    color: white;
    padding: 8px;
    text-decoration: none;
}

.meny a:hover:not(.active) {
    background-color: #111;
    border-radius: 5px;
}

.meny a:hover {
    color: white;
}

.active {
    background-color: #dfb674;
    border-radius: 5px;
}

.clearfix{
    overflow: auto;
}

.img{
    float: left;
    border-radius: 5px;
}

.container-right{
    width: 60%;
    float: right;
}

.tittel{
    text-align: center;
    color: #333333;
    font-size: 2em;
    font-weight: 100;
    /*background-color: #333333; */
    /*background-color: #333333; */
    border-bottom: solid 2px #dfb674;
}

h4 {
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    border-bottom: solid 2px #333333;
}

#listeConatinerLeft{
    float: left;
    width: 250px;
    background-color: #333333;
    color: #ffffff;
    border-radius: 5px;
    margin-right: 35px;
}

#listeConatinerRight{
    float: left;
    width: 250px;
    background-color: #dbdcdd;
    border-radius: 5px;
}
a {
    color: #000000;
}
a:hover {
    color: #333333;
}
b {
    color: #dfb674;
}
table, th, td{
    border: solid 1px #dfb674;
    border-collapse: collapse;
}
th{
    background-color: #dfb674;
    color: white;
    font-weight: 100;
    padding: 10px 0 10px 0;
}

.infoTxt {
    font-size: 18px;
}
.youtube{
    margin-left: auto;
    margin-right: auto;
}
.youtubeConatiner{
    width: 100%;
}
#lastNed{
    border-radius: 5px;
    background-color: #333333;
    border-style: none;
    width: 10em;
    height: 4em;
    margin: 0 auto 5px auto;
    display: block;
}

#lastNed:hover{
    background-color: #111111;
}
#lastNed a{
    color: #dfb674;
    text-decoration: none;
    padding: 1.8em 1.4em 1.8em 1.4em;
}#lastNed2 {
     border-radius: 5px;
     background-color: #333333;
     border-style: none;
     display: inline-block;
     width: 10em;
     height: 4em;
     margin: 0 0 0 0;
 }
#lastNed2:hover{
    background-color: #111111;
}
#lastNed2 a {
    color: #dfb674;
    text-decoration: none;
    padding: 1.8em 1.4em 1.8em 1.4em;
}
div.fixed {
    position: fixed;
    border-radius: 5px;
    bottom: 0;
    padding: 5px;
    background-color: #dfb674;
}
#demo{
    padding-bottom: 200px;
}
#popup{
    color: white;
    background-color: #333333;
    font-weight: 100;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0 5px 0;
}
.lastinn{
    width: 100%;
}
.lastInnKnapper{
    padding: 10px;
    border-radius: 5px;
    background-color: #333333;
    margin: 10px auto 10px auto;
    color: #dfb674;
    border: none;
    display: block;
}
.lastInnKnapper:hover{
    background-color: #111111;
    cursor: pointer;
}
.sticky {
    position: fixed;
    top: -16px;
    width: 100%;
    padding-top: 0;
}
#navbar{
    overflow: hidden;
    -webkit-margin-before:0em;
    -webkit-margin-after:0em;
}


