body {
    background-color: #f2f2f2;
}

#full {
    width:100%;
}

td {
    color: #fff;
    text-align: center;
}

#header {
    position: fixed;
    width:100%;
    background-color:#a37575;
    height: 40px;
    left: 0%;
    top: 0%;
}

table {
    width: 100%;
}